.footer {
    font-size: 12px;
    margin-top: 100px;
    font-family: monospace;
}
#born {
    float: right
}
#of {
    float: left
}
#a {
    float: right
}
#gambol {
    float: left
}
#thesea {
    float: right
}
#withthe {
    float: left
}
#grandfathertempting {
    float: right
}
#grandfatheragainst {
    float: left
}
#thesea {
    float: right
}
#chance {
    float: left
}